<h1>Listing printers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Printer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @printers.each do |printer| %>
  <tr>
    <td><%= printer.name %></td>
    <td><%= printer.printer_id %></td>
    <td><%= link_to 'Show', printer %></td>
    <td><%= link_to 'Edit', edit_printer_path(printer) %></td>
    <td><%= link_to 'Destroy', printer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Printer', new_printer_path %>
