<h1>Listing printers</h1>

<%= link_to "Refresh", refresh_printers_path %>

<%= flash[:success] %>
<table>
  <tr>
    <th>ID</th>
    <th>Printer Name</th>
    <th>Option</th>
  </tr>

<% @printers.each do |printer| %>
  <tr>
    <td><%= printer.id %></td>
    <td><%= printer.name %></td>
    <td><%= link_to "Test Print", test_print_path(:id => printer.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Printer', new_printer_path %>
