<%= flash[:success] || flash[:error] %>
<br>
Welcome <%= current_user.name %> | <%= link_to "Logout", '/logout' %>

<h5>Google Accounts |
  <%= link_to "Add Another Google Account", '/auth/google_oauth2' %>
</h5>
<%= link_to "Refresh Printers", '/printers/refresh' %>
<ul>
<% current_user.user_accounts.each do |account| %>
  <li><%= account.email %> | <%= link_to "Refresh Printers on this account", '/printers/refresh?user_account=' + account.id.to_s %></li>
<% end %>
</ul>
<i>NOTE: Your additional Google account must already be signed in.</i>


<h3>Printers</h3>
<table>
  <tr>
    <th>Printer ID</th>
    <th>Printer Name</th>
    <th>Tied to account</th>
    <th>Options</th>
  </tr>
  <% current_user.printers.each do |printer| %>
    <tr>
      <td><%= printer.printer_id %></td>
      <td><%= printer.name %></td>
      <td><%= printer.user_account.email %></td>
      <td><%= link_to "Test Print", "/test-print/#{printer.printer_id}" %></td>
    </tr>
  <% end %>
</table>